.custom-footer {
    display: flex;
    background-color: var(--nav-background);
    width: 100%;
}

.wrapper {
    width: 100%;
    margin: 1vh 0 1vh 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    >div {
        width: 25%;
        padding: 10px;
        margin: 0px 2% 15px 2%;

        >h1 {
            font-size: normal;
            font-weight: 900;
            margin: 0 0 15px 0;
            text-align: justify;
        }

        >p {
            font-weight: 300;
            line-height: 1.5rem;
            text-align: justify;
        }

        >ul {
            padding: 0;

            >li {
                margin: 0px 0 12px 0px;
                text-align: center;
            }
        }
    }
}

.useful-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    >ul {
        >li {
            list-style-type: circle;
        }
    }
}